@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: beige;
  font-family: "Montserrat", sans-serif;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */
}

.contact {
  text-decoration: none;
  color: black;
}

.contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact:visited {
  color: black;
}
